@import url(../../app//globals.css);

.whoWeAre {
    display: flex;
    background: var(--um-s);
    justify-content: space-around;
    padding-bottom: 6rem;
    padding-top: 2rem;
    
}

.txt {
    color: rgb(255, 225, 210);
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding: 3rem 1rem 5rem 1rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 5rem;
}

.txt p{
    text-align:justify;
    max-width: 40rem;
    font-size: 1.3rem;
}

.whoWeAre>div {
    padding: 0.5rem;

}

.imageswho {
    text-align: center;
    margin-top: 3.5rem;
    max-width: 100%;
    pad: 1.5rem;
    margin-top: 8rem;
}

.ImgWho{
    max-width: 100%;
    width: 28rem;
    height: 26rem;
}

@media screen and (max-width: 850px) {
    .whoWeAre {
        display: flex;
        flex-direction: column;
    }
}