@import url(../../app//globals.css);

.whoWeAre {
    background: var(--Fundo);

}

.txt {
    color: var(--cinzaletra);
    font-size: 25px;
    padding: 1rem 1rem 0rem 1rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;

}

.imgFrase h3{
    text-align: center;
    color: var(--amareloletra);

}

.txt h2{
    text-align: center;
    font-size: 4rem;
    max-width: 100%;
}

.txt p{
    max-width: 60rem;
    font-size: 1.5rem;
    margin: auto;

}



.imageswho {
    text-align: center;
    max-width: 100%;
    pad: 1.5rem;

}

.ImgWho{
    max-width: 100%;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

@media screen and (max-width: 850px) {
    .whoWeAre {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 550px) {
    .txt h2 {
        font-size: 11.5vw;
    }
}