@import url(../../app/globals.css);

.logo {
    width: 260px;
    height: 100px;
    max-width: 100%;
}

.lksHome{
    text-decoration: none;

}

.Full_navbar {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0rem 2rem 0rem 2rem;
    background: var(--Fundo);
}

.Full_navbar h1 {
    text-align: center;
    font-size: 4.2rem;
    color: var(--verdeletra);
}

.Full_navbar h2 {
    text-align: center;
    color: var(--amareloletra);

}

.navbar_btn {
    display: flex;
    gap: 5rem;
    font-size: 1.3rem;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem 1rem 0rem 1rem;
    font-family: "Gabriela", serif;
    justify-content: center ;
}

.lks {
    text-decoration: none;
    color: var(--cinzaletra);

    font-weight: 600;
}

.lks:hover {
    text-shadow: 4px 3px 12px rgba(61, 197, 33, 0.72);
}

.navbar_links {
    display: flex;
    gap: 2rem;
    max-width: 100%;
    align-items: center;

}



.lks_out {
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
    flex-wrap: wrap;

}

.lks_out:hover {
    filter: invert(60%);
}




@media screen and (max-width: 1215px) {

    .logo {
        width: 520px;
        height: 200px;
        max-width: 100%;
    }


    .Full_navbar {

        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;

    }

    .navbar_btn {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        gap: 1.5rem;
    }

    .navbar_links {
        justify-content: center;
        padding: 1rem 0pc 1rem 0px;

    }

    .lks_out {
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 880px) {
    .navbar_btn {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 830px) {
    .navbar_btn {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        font-size: 2rem;
        gap: 1.2rem;
    }
}