@import url(../../app/globals.css);




.footer {
    text-align: center;
    color: black;
    font-weight: 600;
    background: var(--tres);
    background: var(--tres-s);
    max-width: 100%;
    flex-wrap: wrap;

}

.footer_info {
    display: flex;
    justify-content: space-around;
    padding:  3rem 6rem 6rem 6rem;
    text-align: left;
    max-width: 100%;
    flex-wrap: wrap;
    
}



.localization {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
}




.localization h4 {
    color: var(--verdeLetra);
    font-size: 2rem;
    max-width: 100%;

}

.mapa {
    border-style: dotted;
    width: 20rem;
    height: 20rem;
    max-width: 100%;
    max-height: 100%;
}

.footer_links {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    max-width: 100%;
    flex-wrap: wrap;

}

@media screen and (max-width: 850px) {
    .footer_info {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    
.localization {
    font-size: 2rem;
}

.localization p {
    font-size: 1.2rem;
}

    .footer_links {
        justify-content: center;
        padding-bottom: 2rem;
    }


}

@media screen and (max-width: 500px) {
    .footer_info {
        
        padding: 2rem;
        
        
    }
}