.locate{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background: var(--dois-s);;
    color: rgba(226, 200, 188, 1);
    padding: 120px 0px 50px 0px;
    

}

.contact{
    display: grid;
    grid-auto-flow: column;
    margin-top: 30px;
    
    
}

iframe{
    border-radius: 20px;
    border: 5px solid rgb(221, 190, 195);
    width: 400px;
    height: 200px;
}

#address{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    
}