@import url(../../app/globals.css);




.footer {
    text-align: center;
    color: var(--cinzaletra);
    background-color: var(--Fundo);
    max-width: 100%;
    flex-wrap: wrap;
}

.footer_info {
    display: flex;
    justify-content: space-around;
    padding:  3rem 6rem 6rem 6rem;
    text-align: left;
    max-width: 100%;
    flex-wrap: wrap;
    
}



.localization {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    font-family: 'Arimo', sans-serif;
}

.localization p {
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 100%;
    font-family: 'Arimo', sans-serif;
}

.localization strong p {
    font-size: 1.2rem;
   
}

.mapa {
    border-style: none;
    width: 20rem;
    height: 20rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.62);
}

.footer_links {
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
}

.lks_out{
    width: 40px;
    height: 40px;
}

.styleLksOut{
    display: flex;
    align-items: center;
}

.styleLksOut p{
    font-size: 1,3rem;
    padding-left: 10px;
    font-family: 'Arimo', sans-serif;

}

@media screen and (max-width: 850px) {
    .footer_info {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    
.localization {
    font-size: 2rem;
}

.localization p {
    font-size: 1.2rem;
}

    .footer_links {
        justify-content: center;
        padding-bottom: 2rem;
    }


}

@media screen and (max-width: 500px) {
    .footer_info {
        
        padding: 2rem;
        
        
    }
}