@import url(../../app//globals.css);

.aboutImg {
    text-align: end;
    padding-right: 30px;
}

.firstfounder {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--Fundo);
    justify-content: space-around;
}


.secondfounder {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--Fundo);
    justify-content: space-around;
    margin-top: 100px;
}


.FouderImg{
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: 30rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 9px 23px 0px rgba(0, 0, 0, 0.62);
}

.aboutText {
    padding: 10px 8px 20px 8px;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;

}

.aboutText h3{
    color: var(--amareloletra);
}

.aboutText p{
    text-align: left;
    padding: 10px;
    max-width: 40vw;
    color: var(--cinzaletra);
}

.FouderImage {
    max-width: 100%;
    padding: 1rem;
}

.FouderImageLimit{

}

@media screen and (max-width: 850px) {
    .firstfounder {
        display: flex;
        flex-direction: column;

    }

    .secondfounder {
        display: flex;
        flex-direction: column-reverse;

    }

    .aboutText p{
        text-align: left;
        padding: 10px;
        max-width: 80vw;
    }
}