

.aboutImg{
    text-align: end;
    padding-right: 30px;
    border: solid 2px rgb(4, 255, 0);
    
    
}

.firstfounder{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    background: var(--dois-s);
    padding: 20px 0px 100px 0px;
    border: solid 2px rgb(30, 0, 255);
    
}

.secondfounder{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    background: var(--um-s);
    padding: 20px 0px 100px 0px;
    
    border: solid 2px rgb(30, 0, 255);
    

}

.aboutText{
    color:rgba(226, 200, 188, 1);
    border: solid 2px rgb(255, 0, 174);
    padding: 20px 8px 20px 8px;
}

.FouderImage{
    max-width: 100%;
}


@media screen and (max-width: 850px){
    .firstfounder{
        display:flex;
        flex-direction: column;
        
    }
    
    .secondfounder{
        display:flex;
        flex-direction: column-reverse;
        
    }
}