@import url(../../app//globals.css);

.aboutImg {
    text-align: end;
    padding-right: 30px;
    

}

.firstfounder {
    display: flex;
    text-align: center;
    align-items: center;
    background: var(--um);
    background: var(--dois-s);
    padding: 2rem 0px 2rem 0px;
    justify-content: space-around;
}

.secondfounder {
    display: flex;
    text-align: center;
    align-items: center;
    background: var(--tres);
    background: var(--quatro-s);
    padding: 2rem 0px 7rem 0px;
    justify-content: space-around;

}

.aboutText {
    color: black;
    padding: 20px 8px 20px 8px;
    font-size: 1.5rem;
}

.FouderImage {
    max-width: 100%;
    padding: 1rem;
}


@media screen and (max-width: 850px) {
    .firstfounder {
        display: flex;
        flex-direction: column;

    }

    .secondfounder {
        display: flex;
        flex-direction: column-reverse;

    }
}