@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

:root {
  --um:  rgb(226, 200, 188);
  --um-s: linear-gradient(0deg, rgba(226, 200, 188, 1) 9%, rgba(149, 117, 41, 1) 30%);

  --dois: rgb(226, 200, 188);
  --dois-s: linear-gradient(180deg, rgba(226, 200, 188, 1) 9%, rgba(149, 117, 41, 1) 30%);

  --tres: rgb(149, 117, 41);
  --tres-s: linear-gradient(0deg, rgba(149, 117, 41, 1) 9%, rgba(226, 200, 188, 1) 30%);

  --quatro: rgb(149, 117, 41);
  --quatro-s: linear-gradient(180deg, rgba(149, 117, 41, 1) 9%, rgba(226, 200, 188, 1) 30%);

  --verdeLetra: #436A11;

}


/* 

EXEMPLO DE USO DAS VÁRIAVESI CSS, AS VARIÁVEIS DEVEM IR NO CSS DO COMPONENTE OU PAGE QUE ESTÁO CRIANDO

.um {
    background:var(--um);
    background: var(--um-s);
    width: 400px;
    height: 400px;
}

.dois {
    background:var(--dois);
    background: var(--dois-s);
    width: 400px;
    height: 400px;
}

.tres {
    background:var(--tres);
    background: var(--tres-s);
    width: 400px;
    height: 400px;
}

.quatro {
    background:var(--quatro);
    background: var(--quatro-s);
    width: 400px;
    height: 400px;
}
 */
