@import url(../../app//globals.css);

.whoWeAre {
    display: flex;
    background: var(--um-s);
    justify-content: space-around;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.txt {
    color: rgb(255, 225, 210);
    align-items: center;
    text-align: center;

    font-family: "Inter", sans-serif;
    font-size: 25px;
    padding: 3rem 1rem 5rem 1rem;
}

.txt p{
    text-align: justify;
    max-width: 40rem;
    font-size: 1.8rem;
}

.whoWeAre>div {
    padding: 0.5rem;

}

.imageswho {
    text-align: center;
    max-width: 100%;
    pad: 1.5rem;
}

.ImgWho{
    max-width: 100%;
    width: 28rem;
    height: 26rem;
}

@media screen and (max-width: 850px) {
    .whoWeAre {
        display: flex;
        flex-direction: column;
    }
}