.whoWeAre{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background: var(--um-s);
    color: rgba(226, 200, 188, 1);
    height: 580px;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    padding: 0px 0px 100px 0px;
   
}

.imageswho{
   text-align: end;
   
}

#foto2{

    margin-bottom: 275px;
    margin-right: -280px;
    position: relative;
    z-index: 10;

}

#foto1{
    margin-bottom: 160px;
    position: relative;
    z-index: 10;
}

